*{
    margin: 0;
    padding: 0;
}
html {
    background-image: url(/images/download\ \(6\).jpg);
    background-size: cover;
}
body {
    height: 100vh;
    display: block;
    place-items: center;
    position: relative;
}
h1 {
    font-size: 60px;
    color: rgb(248, 198, 64);
    font-weight: 900;
    /* background-color: antiquewhite; */
    margin:0 auto;
    text-align: center;
}
.container {
    /*background-color:*/
    position: absolute;
    width: 50%;
    border-spacing: 10px;
    border: 1px solid black;
    background-color: black;
    right: 25%;
    top: 7%;

}

.container tr, .container th, .container td {
    padding: 10px;
    background-color: rgb(24, 16, 163);
    border: 4px solid rgb(248, 198, 64);
    color: rgb(248, 198, 64);
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    width: 200px;
}
th:hover , td:hover {
    cursor: pointer;

}
input[type="text"] {
    margin-top: 10px;
    padding: 5px;
}
.score{
    /*background-color:*/
    position: absolute;
    width: 50%;
    border-spacing: 10px;
    border: 1px solid black;
    background-color: black;
    right: 25%;
    bottom: 0%;
}

#contestant1, #contestant2, #contestant3 {
    padding: 20px;
    background-color: rgb(24, 16, 163);
    border: 4px solid rgb(248, 198, 64);
    color: rgb(248, 198, 64);
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

#userName1, #userName2, #userName3 {
    width: 300px; 
    height: 40px;
    font-size: large;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px;
}

#PlayerNumber1, #PlayerNumber2, #PlayerNumber3 {
    background-color: yellow;
    margin-left: 10px;
    padding: 5px;
    border: solid black 2px;
    font-size: 20px;
}

#QuestionBox {
    border: solid black 2px;
    background-color: white;
    opacity: 70%;
    margin-top: 210px;
    height: 100px;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px;
    padding: 30px;
}

#clear {
    margin:auto;
    display: block;
    margin-top: 15px;
    padding: 10px;
    font-size: 20px;
}

.score button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    font-size: 20px;
}